/* @font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Manrope";
    font-weight: 400;
    src: url("/fonts/ManropeRegular.ttf");
  }
  
  @font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    font-weight: 400;
    src: url("/fonts/InterRegular.ttf");
  }
  
  @font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    font-weight: 500;
    src: url("/fonts/InterMedium.ttf");
  }
  
  @font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    font-weight: 600;
    src: url("/fonts/InterSemiBold.ttf");
  }
   */